<!DOCTYPE html>
<html>
    <head>
        <Title> Oops - Meland </Title>

<% include ./partials/header %>

<div class="container error-container">
	<div class="row">
		<h1 class="oops-title">WHOOPS</h1>
		<p>La pagina que busca no lo estamos encontrando.</p>
		<p>Mande un email a admin-menacion@gmail.com para consultar este problema.</p>
	</div>
</div>







<% include ./partials/footer %>